version: "3.9"

services:

  wallet:
    build: .
    container_name: wallet
    command: >
      sh -c "
      python manage.py makemigrations &&
      python manage.py migrate &&
      gunicorn wallet.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis


  db:
    image: postgres:15
    container_name: wallet_db
    restart: always
    environment:
      POSTGRES_DB: wallet
      POSTGRES_USER: wallet
      POSTGRES_PASSWORD: wallet
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"


  redis:
    image: redis:7
    container_name: wallet_redis
    restart: always
    ports:
      - "6379:6379"


  worker:
    build: .
    container_name: wallet_worker
    command: celery -A wallet worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - wallet
      - redis
      - db


  beat:
    build: .
    container_name: wallet_beat
    command: celery -A wallet beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - wallet
      - redis
      - db


volumes:
  postgres_data:
